name: Node.js Unit Tests

on:
  push:
    branches: [ qa-github-actions ]
  pull_request:
    branches: [ qa-github-actions ]
  workflow_dispatch: # manual trigger

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test
        
      - name: Check coverage
        run: npm test -- --coverage
  #to send the mail based on failure of test job
  notify:
  runs-on: ubuntu-latest
  needs: test
  if: failure()  
  steps:
    - name: Send email
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.gmail.com
        server_port: 465
        username: ${{ secrets.SMTP_USERNAME }}
        password: ${{ secrets.SMTP_PASSWORD }}
        subject: "CI Job Failed"
        body: "The CI job failed. Please check the logs."
        to: "ziakayani888@gmail.com"
        from: "ziakayani.official@gmail.com"

